<div class="parallax-container valign-wrapper">
	<div class="parallax"><img src="images\Logo-Champomy-ok.jpg" style="display: block  transform:translate3d(-50%, 110px, 0px)">
	</div>
</div>

<div class="section deep-purple darken-4">
	<div class="row container">
		<h3 class="header white-text">Welcome on Champomy Family Application</h3>
		<p class="white-text text-darken-3 lighten-3">Beta version</p>
		 <a class="btn-large center-align  " ng-click="dialogs();">Start ! </a>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><img src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/12342803_10207643258496567_2143527472760970407_n.jpg?oh=244db176c79d6e38402a19240e859537&oe=588B2713"
			style="display: block ; transform:translate3d(-50%, 250px, 0px)"></div>
</div>
<div class="section deep-purple darken-4">
	<div class="row container">
		<h3 class="header white-text">Dev by a stranger</h3>
		<p class="white-text text-darken-3 lighten-3"> 48</p>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><img src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/390370_2794581339843_553151706_n.jpg?oh=bb09d4eeedd5d8836ace5d29fda390cd&oe=589ED864"
			style="display: block  transform:translate3d(-50%, 250px, 0px)"></div>
</div>
  


<script src="scripts\init.js"></script>


<script>  
  
  $(document).ready(function(){
      $('.parallax').parallax();
    });  
    
    </script>

<script>
    $(".dropdown-button").dropdown();	
        

   </script>
 
