<div ng-show="loading" class="center">
	<br>
	<br>
	<br>
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>

		<div class="spinner-layer spinner-red">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>

		<div class="spinner-layer spinner-yellow">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>

		<div class="spinner-layer spinner-green">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
</div>


<div class="row" ng-hide="loading">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s3"><strong><a class=" active deep-purple-text text-darken-4" href="#test1" >Repas en cours</a></strong></li>
			<li class="tab col s3"><strong><a class=" deep-purple-text text-darken-4" href="#test2">Ajouter un repas</a></strong></li>
			<li class="tab col s3"><strong><a class=" deep-purple-text text-darken-4" href="#test3">Modifier un repas</a></strong></li>
			<li class="tab col s3"><strong><a class=" deep-purple-text text-darken-4" href="#test4">Supprimer un repas</a></strong></li>

		</ul>
	</div>
	<br>
	<br>
	<br>
	<div id="test1" class="col s12 ">
		<br>
		<ul class="collapsible popout" data-collapsible="accordion">
			<li ng-repeat="event in events">
				<div class="collapsible-header red  darken-3 white-text"><i class="material-icons">grade</i>
					<h3>{{event.title}}</h3>
				</div>
				<div class="collapsible-body orange lighten-4">
					<p>
						<h3 class="orange-text text-darken-4"><strong>{{event.date}}</strong></h3>

					</p>
					<h3>{{event.personnes.length}} Personnes présentes :</h3>
					<hr>
					<p class="indigo-text text-darken-4" ng-repeat="personne in event.personnes">
						<strong>{{personne.nickName}}</strong>
					</p>


				</div>
			</li>

		</ul>


	</div>


	<div id="test2" class="col s12 z-depth-4">
		<br>
		<br> 
		<br>
		<form ng-submit="addEvent();">
			<h2>Date</h2>
			<input id="date" class="datepicker" type="date" ng-model="newEvent.date" />
			<h2>Titre</h2>
			<input type="text" ng-model="newEvent.title" placeholder="" />
			<h2>Participants</h2>
			<div class="switch black-text" ng-repeat="member in members | orderBy : 'nickName'">
				<p>
					<p class="font-large "><strong><h4 class="teal-text text-darken-4">{{member.nickName}}</h4> </strong></p>
					<label class="black-text">
					Pas là
				<input type="checkbox"  id="{{member.id}}" ng-model="newEvent.participants[member.id]"/>
				<span class="lever"></span>
				 Là
				</label>
				</p>
			</div>
			<input class="waves-effect waves-light btn" type="submit" value="Envoyer" />
		</form>
		<br>
		<br>
	
	</div>


	<div id="test3" class="col s12 ">
		<div ng-hide="update">
		<ul class="collection z-depth-2" ng-repeat="event in events">
			<li class="collection-item">
				<div>
					<h4><strong>{{event.title}}</strong><span ng-click="showUpdate(event.id);" class="secondary-content"><i class=" medium blue-text material-icons">play_arrow</i></span></h4>
				</div>
			</li>
		</ul>
		</div>

		<div ng-show="update">
			<form ng-submit="updateEventFunction(event.id);">
				<h2>Date</h2>
				<input id="date" class="datepicker" type="date" ng-model="updateEvent.date" />
				<h2>Titre</h2>
				<input type="text" ng-model="updateEvent.title" />
				<h2>Participants</h2>
				<div class="switch black-text" ng-repeat="member in members">
					<p>
						<p class="font-large "><strong><h4 class="teal-text text-darken-4">{{member.nickName}}</h4> </strong></p>
						<label class="black-text">
					Pas là
				<input type="checkbox"  id="{{member.id}}" ng-model="updateEvent.participants[member.id]"/>
				<span class="lever"></span>
				 Là
				</label>
					</p>
				</div>
				<input class="waves-effect waves-light btn" type="submit" value="Envoyer" />
			</form>
			
		</div>


	</div>





</div>





<div id="test4" class="col s12">
	<ul class="collection z-depth-2" ng-repeat="event in events">
		<li class="collection-item">
			<div>
				<h4><strong>{{event.title}}</strong><span ng-click="suppressEvent(event.id);" class="secondary-content"><i class=" medium red-text material-icons">delete</i></span></h4>
			</div>
		</li>
	</ul>
</div>



</div>



<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="styles/js/materialize.js"></script>
<script src="scripts\init.js"></script>

<script>
	
     $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>

<script>
	 $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 30 // Creates a dropdown of 15 years to control year
  });
</script>

<script>
	  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
        
</script>